.card{
    border-radius: 8px;
    background-color: white;
    box-shadow: 2px 2px 7px #CCC;
    width:20%;
    font-family:'Raleway';
}

.label-card {
    display: inline;
    font-family: Raleway;
    font-size: 80%;
    border-radius: 5px;
    background: #CFEBF9;
    width: 150px;
    height: 30px;
}


.profilePic{
    width:60%;
    padding-top:60%;
    border-radius: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png');
    background-size: cover;

}

.name{
    font-size: 22px;
    font-weight:bold;
}

.quote{
    font-size:13px;
    color: #888;

}

.div{
    width:100%;
    border-style:solid;
    border-width:1px 2px 2px;

}
