
.Background-img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.title {
  font-family: Bebas Neue;
  color: #005DCB;
  font-weight: bold;
  font-size: 750%;
  text-align:right;
  margin: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.copy{
    color: #FFF;
    font-family: Raleway;
    font-size:30px;
    margin-bottom:30px;

}


.box-landing{
      position: absolute;
      top: 60%;
      left: 75%;
    width:40%;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 25px;
}
