/* want to have: .topnav, profile picture, login button*/

.profile{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.miscBox{
    background-color: white;
    padding:15px;
    margin: 10px;
    border-radius: 10px;
}

.prefBox{
    background-color: white;
    padding:30px;
    margin: 10px;
    border-radius: 10px;
}

.PrefCategory{
    text-align:left;
    color: black;
    font-weight: bold;
    font-family: Raleway;
    font-size:22px;
}
.editPage{
    padding:30px;
    padding-right:50px;
    width:100%;
    height:100%;
}
.prof{
    height:100%;
}

.message {
    font-family: Raleway;
    cursor: pointer;
}

.gradient-box {
    padding: 20px 30px 30px 30px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:50px;
    border-radius: 20px;
    height:96.5%;
    width:  70%;
    margin-left: 40px;
    background-color: white;
}

.line {
    width: 100px;
    height: 1px;
    background-color: #000000;
}

.thumbnail-img {
    height: 50px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

}

.fullname-display {
    font-family: Raleway;
    color: #37393B;
    /*color: #005DCB;*/
    font-weight: bold;
    font-size: 250%;
    overflow: hidden;
    white-space: nowrap;
}

.username-display {
    font-family: Raleway;
    /*color: #80C1FF;*/
    color: #A3A6A7;
}

.username-display2 {
    font-family: Raleway;
    color: #005DCB;
    font-weight: bold;
}

.blurb-display {
    font-family: Raleway;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.profile-img {
    background-size: cover;
    display: block;
    height: 200px;
    border-radius: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    /*margin-top: 200px;*/
}

.preview-profile-img {
    background-size: cover;
    object-fit: cover;
    background-position: center;
    /*display: block;*/
    position:relative;
    top:20px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    /*-webkit-border-radius: 300px;
    -moz-border-radius: 300px;*/
    /*margin-top: 200px;*/
}

.logistical-pref-display {
    display: inline;
    font-family: Raleway;
    overflow: hidden;
    white-space: nowrap;
}

.logistical-icon-img {
    display: inline;
    height: 25px;
    margin-right: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.activity-img {
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 60px;
}

.edit-img {
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 30px;
}

.logout-img {
    background-size: cover;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height: 25px;
}

.tag-popup {
    font-family: Raleway;
    font-size: 80%;
    border-radius: 15px;
    background: #CFEBF9;
    padding: 5px;
    width: 60px;
    height: 25px;
    margin-left: 25%;
}

.label {
    display: inline;
    font-family: Raleway;
    font-size: 80%;
    border-radius: 15px;
    background: #CFEBF9;
    padding: 5px;
    width: 150px;
    height: 30px;
}

.dots {
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
    filter: invert(88%) sepia(19%) saturate(341%) hue-rotate(171deg) brightness(101%) contrast(95%);
}

.circle-img {
    height: 15px;
}

.checkbox-img {
    height: 40px;
    filter: grayscale(100%);
}

.checked-img {
    height: 40px;
}

.category-display {
    font-family: Raleway;
    color: #37393B;
    /*color: #005DCB;*/
    font-weight: bold;
    font-size: 125%;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    display: inline;
}

.category-img {
    display: inline;
    height: 35px;
    width:35px;
    filter: invert(66%) sepia(22%) saturate(7497%) hue-rotate(201deg) brightness(101%) contrast(99%);
}

.category2-img {
    display: inline;
    width: 60px;
    height: 60px;
    filter: invert(31%) sepia(87%) saturate(3032%) hue-rotate(200deg) brightness(103%) contrast(104%);
}

.category3-img {
    display: inline;
    height: 45px;
    width:45px;
    filter: invert(66%) sepia(22%) saturate(7497%) hue-rotate(201deg) brightness(101%) contrast(99%);
}

.pref{
    width:60%;
}
.title-display {
    width:100%;
    font-family: Raleway;
    color: #37393B;
    /*color: #005DCB;*/
    font-weight: bold;
    font-size: 40px;
    overflow: hidden;
    padding-top: 40px;
}

.editblurb-display {
    padding-left:5px;
    font-family: Raleway;
    font-size: 13px;
    color: #005DCB;
    text-align:left;
}
