/* want to have: .topnav, profile picture, login button*/

.profile{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.topnav {
    height: 55px;
    width: 100%;
    background-color: #005DCB;
    display: block;
    
    margin-left: 0px;
    margin-right: 0px;

    position: absolute;
    /*
    top: 0;
    left: 0;
    */
}

.message {
    font-family: Raleway;
    cursor: pointer;
}

.gradient-box {
    border-radius: 20px;
    height: 500px;
    width: 300px;
    margin-left: 40px;
    background-image: linear-gradient(#e5f2ff, #FFFFFF);
}

.line {
    width: 100px;
    height: 1px;
    background-color: #000000;
}

.thumbnail-img {
    height: 50px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

}

.fullname-display {
    font-family: Raleway;
    color: #37393B;
    /*color: #005DCB;*/
    font-weight: bold;
    font-size: 250%;
    position: absolute;
    margin-right: 400px;
    overflow: hidden;
    white-space: nowrap;
}

.username-display {
    font-family: Raleway;
    /*color: #80C1FF;*/
    color: #A3A6A7;
    position: absolute;
}

.username-display2 {
    font-family: Raleway;
    color: #005DCB;
    position: absolute;
    font-weight: bold;
}

.blurb-display {
    font-family: Raleway;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.profile-img {
    background-size: cover;
    display: block;
    height: 200px;
    border-radius: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    /*margin-top: 200px;*/
}

.logistical-pref-display {
    display: inline;
    font-family: Raleway;
    overflow: hidden;
    white-space: nowrap;
}

.logistical-icon-img {
    display: inline;
    height: 25px;
    margin-right: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.activity-img {
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 60px;
}

.edit-img {
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 30px;
}

.logout-img {
    background-size: cover;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height: 25px;
}

.tag-popup {
    font-family: Raleway;
    font-size: 80%;
    border-radius: 15px;
    background: #CFEBF9;
    padding: 5px;
    width: 60px;
    height: 25px;
    margin-left: 25%;
}

.label {
    display: inline;
    font-family: Raleway;
    font-size: 80%;
    border-radius: 15px;
    background: #CFEBF9;
    padding: 5px;
    width: 150px;
    height: 30px;
}

.dots {
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
    filter: invert(88%) sepia(19%) saturate(341%) hue-rotate(171deg) brightness(101%) contrast(95%);
}
