.searchInput{
    width:100%;
    padding: 15px;
    outline:none;
    color:black;
    font-size:25px;
    font-family:'Raleway';
    border-style: none;
    border-bottom: 1px solid #999;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}
.searchResult{
    text-align:left;
    height:45px;
    padding:10px;
    font-size:20px;
    color: #333;
    font-family:'Raleway';
    border-bottom: 1px solid #CCC;
}

.selected:hover{
    font-weight: bold;
    cursor: pointer;
}

.grey{
    color:#CCC;
    cursor:default;
}

.searchBox{
    border-radius: 5px;
    border: 2px solid #666;
    box-shadow: 5px 3px 5px #666;
    margin-top:150px;
    background-color: white;
    width:100%;
    min-width: 700px;
    margin-bottom:30px;

}

.search{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
}
