.suggestion-name{
    font-family:'Bebas Neue';
    text-align: center;
    font-size:70px;
    margin-bottom:10px;
    margin-top:10px;
    color: rgb(90, 51, 0);
    text-shadow: 1px 3px 10px rgb(125, 71, 0, .5);
    /*color: #005DCB;
    text-shadow: 1px 3px 10px rgba(0, 29, 125, 0.5);*/
}

#title{
    font-family: Bebas Neue;
    color: black;
    font-size:60px;
    font-weight: bold;
    padding-top:20px;

    text-align: left;
    width:100%;
}

.result{
    width:30%;
    top:20%;
    padding: 30px;
    background-color:white;
    height:67%;
    left: 20%;
    position:absolute;
    z-index:2;
    box-shadow: 3px 3px 12px #888;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
}

.dot{
    width:6px;
    height:5px;
    background-color: black;
    border-radius: 50%;
}

.parent{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.CategoryPrice{
    text-align:left;
    color: #666;
    font-family: Raleway;
    font-size:22px;
}

.box-suggestion{
    width: 50%;
    height: 75%;
    background-image: linear-gradient(rgb(255, 249, 244), rgb(247, 169, 123) /*rgb(100, 185, 255)*/);

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 25px;
    box-shadow: 6px 6px 20px rgb(82, 58, 42, 0.5);
}

.yelp-box{
    background-image: linear-gradient(rgb(255, 212, 212), rgb(224, 0, 0));
    margin-right: 30px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(82, 58, 42, 0.5);
}
