
.topbar {
  height: 55px;
  width: 100%;
  background-color: #005DCB;
  display: block;
  position:absolute;

  margin-left: 0px;
  margin-right: 0px;
  z-index:2;

}

.topbar-logo {
  font-family: Bebas Neue;
  font-size: 40px;
}

.topbar-signup {
  font-family: Raleway;
  font-size: 20px;
}


.thumbnail-img-top {
    height: 50px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

}
